.windows-logo {
    width:400px;
    height:400px;
    border: 1px black solid;
    background-color: white;


    display : flex;
    flex-wrap: wrap;
}

.square {
    height : 179px;
    width: 179px;
    margin: 10px
}

.red {
    background-color: var(--windows-red);
}

.blue {
    background-color: var(--windows-blue);
}

.green {
    background-color : var(--windows-green);
}

.yellow {
    background-color: var(--windows-yellow);
}